page-segunda {
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    ion-input:invalid {
        border: 1px solid red;
      }
      
      ion-input:valid {
        border: 1px solid green;
      }
}
