<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons end>
          <button ion-button icon-only color="royal" (click)='regresar()'>
            <ion-icon name="md-return-left"></ion-icon>
          </button>
        </ion-buttons>
<ion-title>Adopción MyPet</ion-title>

  </ion-toolbar>
</ion-header>

<h1>En Adopción</h1>
<ion-content padding>
  <div padding>
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="kittens">
        Gatos
      </ion-segment-button>
      <ion-segment-button value="puppies">
        Perros
      </ion-segment-button>
    </ion-segment>
  </div>
  
  <div [ngSwitch]="pet">
    <ion-list *ngSwitchCase="'kittens'">
      <ion-item>
          <h1>En adopción</h1>
        <ion-thumbnail item-start>
          <img src="../../assets/imgs/catcollage.png">
        </ion-thumbnail>
       
      </ion-item>
      <p *ngFor="let message2 of cats">{{message2.nombre}},  {{message2.raza}}
          <br>
          ¡Contactate!: {{message2.contacto}},
      </p>
    </ion-list>
  
    <ion-list *ngSwitchCase="'puppies'">
      <ion-item>
        <h1>En adopción</h1>
        <ion-thumbnail item-start>
          <img src="../../assets/imgs/dogcollage.png">
        </ion-thumbnail>
       
      </ion-item>
      <p *ngFor="let message of messages">{{message.nombre}},  {{message.raza}}
        <br>
          ¡Contactate!: {{message.contacto}},
      </p>

    </ion-list>
  </div>
  
</ion-content>
<ion-footer>

  <ion-toolbar color="primary">
      <ion-title>Registrar</ion-title>
      <ion-buttons start>
          <button ion-button icon-only color="royal" (click)='gatos()'>
            <ion-icon name="logo-octocat"></ion-icon>
          </button>
        </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)='perros()'>
          <ion-icon name="paw"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
